<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/TestHelper.php"
         verbose="true"
         syntaxCheck="true"
         colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>